---
layout: default
title: Rules
---
<div class="container col-md-9 ml-auto">
    <h1>Rules <i class="fas fa-gavel"></i></h1>
    <ul class="list unstyled">
        <li>16-week season</li>
        <li>$50 annual membership fee<br />
            <span class="text-muted">Annual fees must be paid before 2019 NFL season kickoff</span>
        </li>
        <li>Each week, win money for placing:</li>
        <ul>
            <li>1st - $30</li>
            <li>2nd - $16</li>
            <li>3rd - $10</li>
        </ul>
        <li>Use only free resources for research</li>
        <a href="https://www.draftkings.com/help/rules/1/1" target="_blank"><li>DraftKings NFL Classic Rules & Scoring</li></a>
    </ul>

    <h3 id="unpaid">Membership fees unpaid</h3>
    <ul>
        <li>C-Bail</li>
        <li>frank.corn</li>
        <li>jlopez0809</li>
        <li>Halvworld</li>
    </ul>
    
    <h3>Money</h3>
    <p>The commissioner will handle collecting membership fees and distributing prize money. Use the links below to learn about accepted P2P payment services</p>
    <div class="card-columns">
        {% for item in site.data.payment %}
        <div class="card p-1 text-center">
            <a href="{{ item.link }}" target="_blank"><img class="card-img-top" src="{{ item.logo }}" alt="{{ item.name }}"></a>
            <div class="card-body">
                {% if item.contact %}
                <div class="card-subtitle">{{ item.contact }}</div>
                {% endif %}
                <p class="card-text">{{ item.myinfo }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>