---
layout: default
title: Rules
---
<div class="container">
    <h1>Rules <i class="fas fa-gavel"></i></h1>
    <ul class="list-unstyled">
        <li>17-week season; 19 members</li>
        <li>Thursday - Monday Classic contests<br />
        <small>Create a 9-player lineup while staying under the $50,000 salary cap</small>
        </li>
        <li>$50 annual membership fee</li>
        <li class="text-muted" style="font-size:0.85em;">Annual fees must be paid before the NFL season kickoff on Sep 5, 2024</li>
        <li>Each week, win money for placing:</li>
        <ul>
            <li>1st - $36 <small>~3.6% of all member fees</small></li>
            <li>2nd - $15 <small>~1.5% of all member fees</small></li>
            <li>3rd - $8 <small>~0.8% of all member fees</small></li>
        </ul>
		<li>Use only free resources for research<br/>
			<span class="text-muted">See <a href="/help">Help</a> for a list of some free resources to get you started</span>
		</li>
        <a href="https://www.draftkings.com/help/rules/1/1" target="_blank"><li>DraftKings NFL Classic Rules & Scoring</li></a>
    </ul>
    
    <h3>Money</h3>
    <p>The commissioner will handle collecting membership fees and distributing prize money. Use the links below to learn about accepted P2P payment services</p>
    <div class="container col-md-8 ml-auto">
        <div class="card-columns">
            {% for item in site.data.payment %}
            <div class="card p-1 text-center">
                <a href="{{ item.link }}" target="_blank"><img class="card-img-top" src="{{ item.logo }}" alt="{{ item.name }}"></a>
                <div class="card-body">
                    {% if item.contact %}
                    <div class="card-subtitle">{{ item.contact }}</div>
                    {% endif %}
                    <p class="card-text text-nowrap">{{ item.myinfo }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>