<h3>2017 Contests</h3>
<div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img  class="img-fluid" src="/assets/images/2017final.png" />
			</div>
			<div class="col">
				<h5>Weekly results</h5>
				<ul>
					<li><a href="https://www.draftkings.com/contest/gamecenter/43924993" target="_blank">Week 1 results</a>, 1st: jlopez0809, 2nd: frank.corn</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/44418645" target="_blank">Week 2 results</a>, 1st: pshhidk, 2nd: Dash7</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/44901299" target="_blank">Week 3 results</a>, 1st: Dash7, 2nd: olivadotij</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/45391231" target="_blank">Week 4 results</a>, 1st: frank.corn, 2nd: ejmesa</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/45877864" target="_blank">Week 5 results</a>, 1st: hlimardo, 2nd: pshhidk</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/46369561" target="_blank">Week 6 results</a>, 1st: DarbyDiaz3, 2nd: XplicitK</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/46805820" target="_blank">Week 7 results</a>, 1st: BrunoDiaz, 2nd: Halvworld</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/47385746" target="_blank">Week 8 results</a>, 1st: BrunoDiaz, 2nd: Halvworld</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/47966478" target="_blank">Week 9 results</a>, 1st: pshhidk, 2nd: ejmesa</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/48485255" target="_blank">Week 10 results</a>, 1st: BrunoDiaz, 2nd: DarbyDiaz3</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/49033298" target="_blank">Week 11 results</a>, 1st: Dash7, 2nd: DarbyDiaz3</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/49551105" target="_blank">Week 12 results</a>, 1st: Halvworld, 2nd: climardo</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/50056643" target="_blank">Week 13 contest</a>, 1st: BrunoDiaz, 2nd: climardo</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/50536131" target="_blank">Week 14 results</a>, 1st: Dash7, 2nd: XplicitK</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/50983404" target="_blank">Week 15 results</a>, 1st: ejmesa, 2nd: climardo</li>
					<li><a href="https://www.draftkings.com/contest/gamecenter/51449793" target="_blank">Week 16 results</a>, 1st: jlopez0809, 2nd: DarbyDiaz3</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h5>Links</h5>
				<ul>
					<li><a href="https://docs.google.com/spreadsheets/d/1_P1L5T7_nY9fW0cg5yjtacQIpt39e47IJTdqPW5cl58/edit?usp=sharing" target="_blank">Google spreadsheet</a></li>
					<li><a href="https://www.draftkings.com/leagues/pvxta7i8" target="_blank">DraftKings league page</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
