<!-- Header -->
<header class="masthead" id="site-header">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold text-white custom-shadow">2024 DraftKings League</h1>
                {% if page.url == "/" or page.url == "/index.html" %}<p class="lead font-weight-bold text-white custom-shadow">Where bragging rights are earned</p>{% endif %}
            </div>
        </div>
    </div>
</header>