.masthead {
    height: 50vh;
    background-image: url('https://cdn.stocksnap.io/img-thumbs/960w/HWDNFMZHRP.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }